In [1]:
import pandas as pd 
import numpy as np

In [2]:
!ls

Data.zip
Problem Statement.docx
Untitled.ipynb
shared_articles.csv
users_interactions.csv

In [9]:
df_article = pd.read_csv('shared_articles.csv', low_memory=False)
df_article.head()

,timestamp,eventType,contentId,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,...,Unnamed: 617,Unnamed: 618,Unnamed: 619,Unnamed: 620,Unnamed: 621,Unnamed: 622,Unnamed: 623,Unnamed: 624,Unnamed: 625,Unnamed: 626
0,1459192779,CONTENT REMOVED,-6.45131E+18,4.34031E+18,8.94034E+18,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1459193988,CONTENT SHARED,-4.11035E+18,4.34031E+18,8.94034E+18,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1459194146,CONTENT SHARED,-7.29229E+18,4.34031E+18,8.94034E+18,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1459194474,CONTENT SHARED,-6.15185E+18,3.89164E+18,-1.45753E+18,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1459194497,CONTENT SHARED,2.44803E+18,4.34031E+18,8.94034E+18,NaN,NaN,NaN,HTML,https://bitcoinmagazine.com/articles/ibm-wants...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_article.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3146 entries, 0 to 3145
Columns: 627 entries, timestamp to Unnamed: 626
dtypes: object(627)
memory usage: 15.0+ MB

In [12]:
sum(df_article.isna().sum() == 3145)

250

In [14]:
df_article.isna().sum(axis=1)

0       617
1       617
2       617
3       617
4       617
       ...
3141    614
3142    614
3143    614
3144    614
3145    614
Length: 3146, dtype: int64

In [6]:
df_user_intection = pd.read_csv("users_interactions.csv")
df_user_intection.head()

,timestamp,eventType,contentId,personId,sessionId,userAgent,userRegion,userCountry
0,1465413032,VIEW,-3.499920e+18,-8.845300e+18,1.264200e+18,NaN,NaN,NaN
1,1465412560,VIEW,8.890720e+18,-1.032020e+18,3.621740e+18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
2,1465416190,VIEW,3.105150e+17,-1.130270e+18,2.631860e+18,NaN,NaN,NaN
3,1465413895,FOLLOW,3.105150e+17,3.442810e+17,-3.167640e+18,NaN,NaN,NaN
4,1465412290,VIEW,-7.820640e+18,-4.453370e+17,5.611480e+18,NaN,NaN,NaN

In [8]:
df_user_intection.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72312 entries, 0 to 72311
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    72312 non-null  int64
 1   eventType    72312 non-null  object
 2   contentId    72312 non-null  float64
 3   personId     72312 non-null  float64
 4   sessionId    72312 non-null  float64
 5   userAgent    56918 non-null  object
 6   userRegion   56907 non-null  object
 7   userCountry  56918 non-null  object
dtypes: float64(3), int64(1), object(4)
memory usage: 4.4+ MB